<div class="buttons" x-data="{isActive : false}">
    <button @click="isActive = true" class="button is-primary">
        <span>Add Product</span>
        <span class="icon">
            <i class="material-icons">add</i>
        </span>
    </button>
    <div class="modal" :class="isActive ? 'is-active' : ''">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <form action="{% url 'product_create' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Crear">
                    </form>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="isActive = false"></button>
    </div>
</div>