<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.orange.min.css"
    >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <nav class="container">
        <ul>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
        </ul>
        <ul>
        <li><a href="{% url 'list' 'category' %}">Categorías</a></li>
        <li><a href="{% url 'list' 'product' %}">Productos</a></li>
        <li><a href="{% url 'list' 'sale' %}">Ventas</a></li>
        <li><a href="{% url 'list' 'purchase' %}">Compras</a></li>
        <li><a href="{% url 'list' 'expense' %}">Gastos</a></li>
        <li><a href="{% url 'month_result' '0' %}">Resultados</a></li>
        </ul>
    </nav>
    {% include "includes/messages.html" %}
    {% block content %}
    {% endblock %}
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</body>
</html>
