{% extends "layout.html" %}
{% load getattribute %}
{% block content %}
<main class="container" x-data="{ search: '' }">

  <h1>{{ title }}</h1>

    <a href="{% url 'new' model %}" role="button"><i class="material-icons">add</i> Nuevo</a>

  <hr>

  <table>
    <thead>
      <tr>
        {% for field in fields %}
          <th>{{ field }}</th>
        {% endfor %}
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      {% for item in items %}
        <tr>
          {% for col in columns %}
            <td>{{ item|getattribute:col }}</td>
          {% endfor %}
          <td>
            <a href="{% url 'edit' model item.id %}">
              <i class="material-icons">edit</i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="{{ columns|length }}">No hay registros.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</main>
{% endblock %}
