{% extends "layout.html" %}
{% block content %}
<main class="container" x-data="{ search: '' }">
  <h1>Productos</h1>
  <a href="{% url 'product_create' %}" role="button">➕ Nuevo producto</a>
  <input type="search" x-model="search" placeholder="Buscar producto...">

  <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
      {% for p in products %}
      <tr x-show="'{{ p.name|lower }} + {{p.category.name}}'.includes(search.toLowerCase())">
        <td>{{ p.name }}</td>
        <td>{{ p.category.name }}</td>
        <td>{{ p.stock }}</td>
        <td>${{ p.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
