{% extends "layout.html" %}
{% block content %}
<main class="container" x-data="{ search: '' }">
  <h1>Compras</h1>
  <a href="{% url 'purchase_create' %}" role="button">➕ Nueva compra</a>
  <hr>
  <input type="search" x-model="search" placeholder="Buscar compra...">

  <table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Proveedor</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Costo</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
      {% for p in purchases %}
      <tr x-show="'{{ p.product|lower }} + {{p.supplier}}'.includes(search.toLowerCase())">
        <td>{{ p.date|date:"d/m/Y H:i" }}</td>
        <td>{{ p.supplier }}</td>
        <td>{{ p.product }}</td>
        <td>{{ p.quantity }}</td>
        <td>${{ p.cost }}</td>
        <td>${{ p.get_total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
