{% extends "layout.html" %}
{% block content %}
<main class="container">
  <h1>Ventas</h1>
  <a href="{% url 'sale_create' %}" role="button">➕ Nueva venta</a>
  <table>
    <thead><tr><th>Fecha</th><th>Cliente</th><th>Producto</th><th>Cantidad</th><th>Precio</th><th>Total</th></tr></thead>
    <tbody>
      {% for s in sales %}
      <tr>
        <td>{{ s.date|date:"d/m/Y H:i" }}</td>
        <td>{{ s.customer }}</td>
        <td>{{ s.product }}</td>
        <td>{{ s.quantity }}</td>
        <td>${{ s.price }}</td>
        <td>${{ s.get_total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
